@{
    Layout = "~/Views/Shared/_DataGridLayout.cshtml";
    var getSV = new Func<string, string>((name) => SettingManager.GetSettingValue(name));
}

@section customScript
{
    <script type="text/javascript">
        crud.options.name = 'TaskTypes';
        crud.options.title = '任务类型';
        crud.options.sortName = 'cn';
        crud.options.columns = [[
            { field: "cn", title: "编号", width: 80 },
            { field: "name", title: "名称", width: 80 },
            { field: "groupName", title: "组名", width: 80, sorted: true},
            { field: "basicPrice", title: "基本价格", width: 100 }
        ]];
    </script>
}

@*弹窗*@
<div id="dlg" class="easyui-dialog" closed="true" modal="true" align="center" style="width: 360px; padding: 10px;">
    <form id="fm" method="post" novalidate>
        <table class="edit-tbl">
            <input id="id" name="id" type="hidden">
            <tr>
                <th><label for="cn">编号：</label></th>
                <td><input name="cn" class="easyui-textbox" data-options="required:true, validType:'length[@TaskType.MaxCnLength, @TaskType.MaxCnLength]'" style="width: 100%"></td>
            </tr>
            <tr>
                <th><label for="name">名称：</label></th>
                <td><input name="name" class="easyui-textbox" data-options="required:true, validType:'length[@getSV(SettingNames.EntityRules.NormalNameMinLength),@TaskType.MaxNameLength]'" style="width: 100%"></td>
            </tr>
            <tr>
                <th><label for="groupName">组名：</label></th>
                <td><input name="groupName" class="easyui-textbox" data-options="validType:'length[@getSV(SettingNames.EntityRules.NormalNameMinLength) ,@Tbs.DomainModels.TaskType.MaxNameLength]'" style="width: 100%"></td>
            </tr>
            <tr>
                <th><label for="basicPrice">基本价格</label></th>
                <td><input name="basicPrice" class="easyui-numberbox" data-options="required:true, validType:'length[1,3]'" style="width: 100%"></td>
            </tr>
        </table>
    </form>
</div>
